@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
 

body{
    background-color:#d0e8f2;
}
header h1{
    text-align:left;
    font-style: italic;
    font-size: 3rem;
    font-family: 'Yusei Magic', sans-serif;
    background-color:#999b84;
    color: black;
    /* padding-top: 20px ;
    padding-bottom: 20px; */
    float: left;
    margin: -35px 0px 0px 28px;


}
header ul li{
display:inline-block;
float: right;
margin:-2em;
}


nav {
    background-color:#d8ac9c;
    height: 60px;
    padding: 1px 33px 76px 298px;
    margin-bottom: 30px;

}
nav ul li {
      display:inline-block;
      list-style-type:none;
      /* color:darkblue; */
      overflow:hidden;
      text-decoration: none;
      margin: 50px;
      padding:0 10px 10px 0;
      font-size: 1rem;
      font-family: Georgia;
/* color: rgb(235, 69, 8); */
}
.listCookies {
    text-align: center;
}
nav ul li a{
    display: block;
    color:rgb(8, 8, 99);
    text-align: center;
    text-decoration:none;
}
nav ul li a:hover{
    background-color: cadetblue;
}
#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}
#img2{
    margin-right: 150px;
    float: left;
}
main h1{
    margin:50px ;
    font-size: 1rem;
    font-family: 'Yusei Magic', sans-serif;
    color:black;
}
main p{
    overflow:hidden;
    font-family: Georgia;
    color:rgb(8, 8, 99);
    font-weight: bold;

}
#img3{
    /* padding: 30px 0px 0px 300px; */
}
#img4{
    margin-left: 25px;
    width: 390px;
}
#img5{
   width: 600px;
}
#img6 {
    width: 283px;
    margin-left: 150px;
    margin-right: 150px;
}
#img7 {
    width: 500px;
}

main div h1{
    text-align: center;
    font-style: italic;

    color: darkorchid;
    font-family: 'Yusei Magic', sans-serif;
    color:black;
}
main h2{
    text-align: left; 
    font-style: oblique;
    font-size: 2rem; 
    background-color: #efd9d1;
    height: 50px; 
    width: 100%; 
   /* padding: 20px 90px 20px 200px; */
   font-family: 'Yusei Magic', sans-serif;
   color:black;
}
footer{
    background-color: #999b84;
    height: 100%; 
    width: 100%; 
    /* font-style: oblique;
    
    font-size: 2rem; */

}
footer h1{
    font-family: 'Yusei Magic', sans-serif;
    color:black;
}
footer ul li {
    font-family: Georgia;
    color:rgb(8, 8, 99);
    font-weight: bold;

}
footer h1 {
    font-size: 2rem;
}