body{
    background-color: cadetblue;
}
      
  



   header nav ul  li   {
    display: inline-block;
    padding: 35px 10px 40px 15px;
    color: black;
    text-decoration: none;
    border-radius: 14%;
   
   }





footer{
    position: fixed;
    padding: 60px 30px 40px 20px;
    background-color:mistyrose;
    text-align: center;
    width:100%;
} 